{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": { "esmodules": true }
          }
        ]
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", { "helpers": false, "regenerator": false }],
        ["babel-plugin-add-import-extension", { "extension": "js" }]
      ]
    }
  }
}
