{
  "extends": "standard",
  "plugins": [
    "promise"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "tabulator": true,
    "Components": true
  },
  "rules": {
    "array-bracket-spacing": [
      "error",
      "always"
    ],
    "space-before-function-paren": "error",
    "camelcase": "off",
    "no-unused-vars": "warn"
  }
}
