dist
parsers/*.js
node_modules
.vscode/
npm-debug.log
dist/rdflib.min.js
lib/
test/downloaded-turtle-tests/*.ttl
test/downloaded-turtle-tests/*.nt
test/downloaded-turtle-tests/LICENSE
test/downloaded-turtle-tests/README
/tests/unit/downloaded-turtle-tests/*
